* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
}

/* ---------------------- */

.header {
    margin-left: 105px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 370px);
}

.header .box {
    width: auto;
}

.header .box input {
    width: 40%;
}

/* ---------------------- */

.left {
    width: 100px;
    height: 100%;
    text-align: center;
    position: relative;
    top: -50px;
    /*background-color: green;*/
}

.left .circle {
    width: 35px;
    height: 35px;
    background: linear-gradient(green, lime);
    border-radius: 50%;
    border: 4px solid #000;
    margin: 1px auto;
    margin-bottom: 30px;
}

.left .btn-impo {
    width: 75px;
    height: 75px;
    margin-bottom: 5px;
    box-shadow: 2px 2px 7px black;
    transition: .3s;
}

.left .btn-impo:hover {
    outline: none;
    box-shadow: none;
}

/* ---------------------- */

.center {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}