<tr>
  <td class="cell center">*</td>
  <td class="cell center">*</td>
  <td class="cell"><%= form.number_field :receipt_num, class:"input-cell" %></td>
  <td class="cell">*</td>
  <td class="cell"><%= form.number_field :hardnessShA, class:"input-cell", in: 1..100 %></td>
  <td class="cell"><%= form.number_field :hardnessShD, class:"input-cell", in: 1..100 %></td>
  <td class="cell"></td>
   <%= form.hidden_field :brand_id, class:"input-cell" %>
  <td class="cell center">*</td>
  <td class="cell center">*</td>
</tr>