<tr>
  <td class="cell center">*</td>
  <td class="cell center">*</td>
  <td class="cell"><%= form.text_field :name, class:"input-cell"%></td>
  <td class="cell"><%= form.text_field :intended_use, class:"input-cell" %></td>
  <td class="cell"><%= form.text_field :description, class:"input-cell" %></td>
  <td class="cell"></td>
  <td class="cell hidden"><%= form.hidden_field :creator_id, class:"input-cell" %></td>
  <td class="cell center">*</td>
  <td class="cell center">*</td>
</tr>