
<div class="form-check-toggle-controller">
  <%= button_to "EDIT SELECTED BRAND", edit_rec_brands_url(id: @brands.last),
                class:"btn",
                method: :post
  %>
</div>
<div class="form-check-toggle-controller">
  <%= button_to "DELETE SELECTED BRAND", brand_url(id: @brands.last),
                class:"btn",
                data: { turbo_confirm: "\nDelete selected brand receipt?\n\n Are you sure?" },
                method: :delete
  %>
</div>

<div class="form-check-toggle-controller">
  <%= button_to "NEXT BRAND RECEIPT's TABLE", find_brand_receipts_url(id: @brands.last), class:"btn" %>
</div>
