<div class="form-check-toggle-controller">
  <%= button_to "EDIT SELECTED MATERIAL", edit_rec_materials_url(id: @materials.last),
                class:"btn",
                method: :post
  %>
</div>
<div class="form-check-toggle-controller">
  <%= button_to "DELETE SELECTED MATERIAL", supplier_url(id: @materials&.last),
                class:"btn",
                data: { turbo_confirm: "\nDelete selected material?\n\n Are you sure?" },
                method: :delete
  %>
</div>

<div class="form-check-toggle-controller">
  <%= button_to "DASHBOARD", :materials, class:"btn", method: :get %>
</div>